*{
	margin: 0px;
	padding: 0px;
}
body {
    background-color: #EEEEEE;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: orange;
    text-align: center;
}

p {
    font-size: 16px;
}

header{
	font-size: 20px;
	height: 80px;
	width: 100%;
    background-color: #000000;
    position: fixed;
    z-index: 1000;S
}

#logo{
	background-color: #ffffff;
	width: 20%;
	height:80px;
	float: left;	
}
#logo img{
	height: 80px;
	text-align: center;	
}
#busqueda{
	background-color: #ffffff;
	width: 60%;
	height:80px;
	float: left;
}
#busqueda form{
	padding-top: 15px;
}
#sesion{
	background-color: #ffffff;
	width: 20%;
	height:60px;
	float: right;
	padding-top: 20px;
}
#sesion a, #sesion a:link, #sesion a:visited,#sesion a:hover{
	text-decoration: none;
	color: #000000;
}
#sesion span{
	padding-right: 10px;
	font-size: 30px;
}

#radio{
    background-color: #03aacc;
	width: 30%;
	float: left;

}
#inputse{
    background-color: #6ce2c7;
	width: 70%;
	float: left;
}

.caja{
	border-style: solid;
	border-color: gray;
	border-radius: 5px; 
	position: relative;
	float: left;
	margin-left: 50px;
}
.center{
	padding-top: 100px;
	width: 100%;
	padding-bottom: 50px;
	height: 600px;
}
footer{
  position: fixed; 
  margin-top: -40px; /* altura en px del footer con valor negativo */ 
  height: 40px; /* Altura del Footer en px*/ 
  clear: both; 
  background: #286af0; 
  text-align: center; 
  color: #FFFFFF;
  padding: 10px 0px 10px 0px;
  bottom: 0px;
  width: 100%;
}

@media screen and (max-width: 785px) {

}

@media screen and (max-width: 350px) {

        
}