*{
	margin: 0px;
	padding: 0px;
}
body {
    background-color: #d0e4fe;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: orange;
    text-align: center;
}

p {
    font-size: 16px;
}

header{
	font-size: 20px;
	height: 100px;
	width: 100%;
    background-color: #000000;
    position: fixed;
    z-index: 1000;S
}

#logo{
	background-color: #ffffff;
	width: 20%;
	height:100px;
	float: left;	
}
#logo img{
	height: 100px;
	text-align: center;	
}
#busqueda{
	background-color: #ffffff;
	width: 40%;
	height:100px;
	float: left;
}
#busqueda form{
	padding-top: 20px;
}
#sesion{
	background-color: #ae95b5;
	width: 40%;
	height:100px;
	float: right;
}

#radio{
    background-color: #03aacc;
	width: 30%;
	float: left;

}
#inputse{
    background-color: #6ce2c7;
	width: 70%;
	float: left;
}

.caja{
	border-style: solid;
	border-color: gray;
	border-radius: 5px; 
	position: relative;
	float: left;
	margin-left: 50px;
}
.center{
	padding-top: 150px;
	width: 100%;
	padding-bottom: 50px;
}
footer{
	position: relative; 
	margin-top: -40px; /* altura en px del footer con valor negativo */ 
	height: 40px; /* Altura del Footer en px*/ 
	clear: both; 
	background: #286af0; 
	text-align: center; 
	color: #FFFFFF;
	padding: 10px 30% 10px 30%;
}

@media screen and (max-width: 785px) {

}

@media screen and (max-width: 350px) {

        
}