/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/08/2015, 03:11:55 PM
    Author     : GDU Colombia
*/
*{
    margin: 0px; 
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #4c4c4c;
}
.box{
    width: 90%;
    height: auto;
    float: left;
    background: white;
    position:relative;
    display: inline-block;
    margin: 50px 5% 0 5%;   
    border-radius: 35px 35px 35px 35px;  
    text-align: center;
}

body{
    background: whitesmoke;   
}
a{
    margin: 0px 10px 0px 10px;
}
a:link {
    color: #000000;
}

/* visited link */
a:visited {
    color: #8d989c;
}

/* mouse over link */
a:hover {
    color: #FF8D00;
}

/* selected link */
a:active {
    color: #8d989c;
}
.logo{
    width: 100%;
    height: 100px;
    text-align: center;
    
}
.logo img{
    width: auto;
    height: 100%;
    vertical-align: middle;
}
.volver{
 float: right;
}
.titulo{
    padding: 20px;
}


/* ---------------FORMULARIO ----------------------------*/
:focus {outline:none}

form{ 
    margin: 0px 20% auto 20%;
}
.form{
    width: 100%;
    margin: .4em 0;
    float: left;
}
.form label {  
    width: 50%;
    float: left; 
}
.form input{
    width: 50%;
    float: left;
    margin: 0px 0px 0px 30px;
}
.form input[type=submit],.form input[type=button]{
    width: 100%;
    float: top;
    margin: 10px;
}

select {
   background: whitesmoke;
   width: auto;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
}

input[type=submit], input[type=button]{
    color: white;
    padding:15px 15px; 
    background:#68b12f;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
}

input[type=text],input[type=password],input[type=email], input[type=number], input[type=date]{
  width: 200px; 
  height: 39px; 
  -webkit-border-radius: 4px 4px 4px 4px/5px 5px 4px 4px; 
  -moz-border-radius: 4px 4px 4px 4px/0px 0px 4px 4px; 
  border-radius: 4px 4px 4px 4px/5px 5px 4px 4px; 
  background-color: #fff; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 1px #cbc9c9;
  padding-left: 10px;
}

h1{
    margin: 1px;
    font-size: 30px;
}

.query{
    margin: 0px 30% 0px 30%;
}   
.list{
    margin: 2px;
    padding: 5px;
    width: auto;
    height: auto;
    background: #68b12f;    
    float: left;
    border-radius: 20px;
    color: white;
}
table{    
    border: solid 1px #68b12f;
}
tr{
    padding: 5px;
    margin: 0px;
    border: solid 1px #68b12f;
}
td{
    padding: 5px;
    margin: 0px;
    border: solid 1px #68b12f;
}
.room:link,.room:hover, .room:visited{
    margin: 5px;
    padding: 30px;
    width: 10%;
    height: auto;
    background: #68b12f;    
    float: left;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    text-align: center;
}
.deploy{
    margin: 0px 30% 0px 30%;   
}
.client:link, .client:hover, .client:visited{
    margin: 5px;
    padding: 10px;
    width: 100%;
    height: auto;
    background: #68b12f;    
    float: left;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    text-align: center;
}